header, nav, main, footer { display: block; }
* { box-sizing: border-box; }
body { 
	background-color: #FFFFFF; 
	font-family: Verdana, Arial, sans-serif; 
}
header { 
	background-color: #000033; 
	color: #FFFFFF; 
}
h1 { 
	height: 24pt; 
	color: #000000; 
}
nav { 
	display: none; 
}
main { 
	margin: 0; 
	font-size: 12pt; 
}
dl dt {
	font-weight: bold;
}
footer { 
	font-size: 8pt; 
	color:#000000; 
	clear: both; 
	text-align: center; 
}
.resort { 
	font-size: 14pt;
	font-weight: bold; 
}
#wrapper { 
	font-family: Verdana, Arial, sans-serif;
	background-color: #FFFFFF;
	color:#000000;
}
#mobile { display: none; }
#desktop { display: inline; }